.resume {
  display: inline-block;
}

.adventure {
  display: inline-block;
}

.outcome {
  position: relative;
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: gray;
  opacity: .8;
  width: 100%;
}

.border {
  border: 3px solid white;
  position: absolute;
  margin: auto;
  top: 50px; left: 0; bottom: 0; right: 0;
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  padding: 5px;
  display: inline-block;
}

.button_to {
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
}

.choice {
  background-color: #4d4d4d;
  border: 1px solid black;
  color: white;
  border-radius: 25px;
}

.hidden {
  display: none;
  background-color: red;
}

.header {
  font: Helvetica;
}




