.resume {
  display: inline-block;
}

.adventure {
  display: inline-block;
}

.outcome {
  width: 50%;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 30%;
/*  background-color: #204060;
*/
  background-color: #333333;
  opacity: .8;
  transform: translate(-50%,-50%);
  border: 3px solid white;
  padding: 3px;
  color: white;
  font-size: 20px;
}

.button_to {
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
}

.choice {
  background-color: #4d4d4d;
  border: 1px solid black;
  color: white;
  border-radius: 25px;
}

.hidden {
  display: none;
  background-color: red;
}

.header {
  font: Helvetica;
}




