<div class="main-container"></div>
<div>Welcome to Sarah Finken-Hernandez's Site </div>

<div>I'm guessing you're here because you'd like to learn more about me. There are lots of ways to do that. Would you like to look at my resume, or go on an adventure? </div>

<div>
  <button class="resume">RESUME</button>
  <button class="adventure">ADVENTURE</button>
</div>