<div class="main-container"></div>

<div class="header">
  <div class="welcome">Welcome to Sarah Finken-Hernandez's Site </div>

  <div class="learn">
  I'm guessing you're here because you'd like to learn more about me. There are lots of ways to do that. Sure, you could look at my resume or something, but wouldn't it be more fun to go on an adventure?
  </div>
</div>

<div class="start">
  <%= button_to "START ADVENTURE", outcomes_reset_path, remote: true, method: :put, class: "start_button" %>
</div>

<div class="border hidden">
  <div class="outcome hidden">
    <%= render "outcomes/outcome_details" %>
  </div>
</div>








