  <div>
    <%= @result.text %>
  </div>

  <div>
    <% @result.next_choices.each do |choice| %>
        <%= button_to choice.name.upcase, choice, remote: true, method: :get, class: "choice" %>
      <% end %>
  </div>
