<div class="outcome">
  <div>
  <%= @choice.text %>
  </div>

  <div class="outcome">
  <%= @choice.resulting_outcome.text %>
  </div>

  <div>
    <% @choice.resulting_outcome.next_choices.each do |choice| %>
        <%= button_to choice.name, choice, remote: true, method: :get, class: "choice" %>
      <% end %>
  </div>
</div>
