<div class="main-container"></div>
<div class="middle"></div>

<header>
  <div class="welcome">Welcome to Sarah Finken's Site </div>

  <div class="learn">
  <p>I'm guessing you're here to learn more about me. You could look at my resume, but wouldn't it be more fun to go on an adventure together?</p>
  <p>We can get to know each other, and see what kind of decisions each of us makes and how we solve problems under pressure.</p>
  <p>Are you ready?</p>
  </div>
</header>

<div class="start_adventure">
  <%= button_to "START ADVENTURE", outcomes_reset_path, remote: true, method: :put, class: "start_button" %>
</div>

<div class="start hidden">
  <%= button_to "START OVER", outcomes_reset_path, remote: true, method: :put, class: "start_over" %>
</div>

<div class="border hidden">
  <div class="outcome hidden">
    <%= render "outcomes/outcome_details" %>
  </div>
</div>








